.login-form{
  @include form-style(200px, 2);
}
.create-account-form{
  @include form-style(300px, 3);
}

a{
  text-decoration: none;
}
.account-msg{
  color: $primary-color;
  text-align: center;
  font-family: $fontFamily;
  letter-spacing: 2.5px;
  transition: color .5s ease;
  cursor: pointer;

  &:hover{
    color: $secondary-color;
  }
}