.login-form{
  @include form-style(300px, 3);
}
.create-account-form{
  @include form-style(400px, 4);
}

a{
  text-decoration: none;
}
.account-msg{
  color: $primary-color;
  text-align: center;
  font-family: $fontFamily;
  letter-spacing: 2.5px;
  transition: color .5s ease;
  cursor: pointer;

  &:hover{
    color: $secondary-color;
  }
}

.auth-submit-btn{
  transition: all .25s ease-in-out;
  &:hover{
    background: $secondary-color;
    color: $dk-color;
    font-weight: 700;
  }
}