.networth-section{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 20%;
  color: $primary-color; 

  & .account-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  & hr{
    width: 70%
  }
}