.networth-form-close{
  color: rgba(175, 18, 7, 0.65);
  font-weight: 700;
  cursor: pointer;
  transition: color .25s ease-in-out;

  &:hover{
    color: rgb(175, 18, 7)
  }

}
.networth-form{
  margin: 0;
  width: 115px;
  display: flex;
  justify-content: space-between;

  & .networth-input{
    font-family: $fontFamily;
    color: $primary-color;
    background: $dk-color;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 500;
    width: 100px;
    border-radius: 5px;
    border: solid 1px $primary-color;
    padding: 0 10px;
    box-sizing: border-box;
  } 

  & .networth-sbmt-btn{
    display: none
  }
}