.networth-section{
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  font-family: $fontFamily;
  height: 15%;
  color: $primary-color; 
  border-top: solid $trsp-primary-color 1px;
  border-bottom: solid $trsp-primary-color 1px;
  margin-top: 5%;
  margin-bottom: 5%;

  & .account-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & .account-name{
    color: $trsp-primary-color;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 15px;
  }
  & .account-total{
    color: $primary-color;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 500;
  }

}