main{
  border: green solid 1px;
}

.main{
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 90%;
  margin: 0 auto;
  color: $primary-color;
  font-family: $fontFamily;

  & .asset-column{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}