@import url("https://fonts.googleapis.com/css2?family=Roboto&family=New+Rocker:wght@400;500&display=swap");
.row-0 {
  grid-row: 2/span 1;
}

.row-1 {
  grid-row: 3/span 1;
}

.row-2 {
  grid-row: 4/span 1;
}

.row-3 {
  grid-row: 5/span 1;
}

.row-4 {
  grid-row: 6/span 1;
}

.row-5 {
  grid-row: 7/span 1;
}

.row-6 {
  grid-row: 8/span 1;
}

.row-7 {
  grid-row: 9/span 1;
}

.row-8 {
  grid-row: 10/span 1;
}

.row-9 {
  grid-row: 11/span 1;
}

.row-10 {
  grid-row: 12/span 1;
}

.home {
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home h1 {
  letter-spacing: 10px;
  font-size: 48px;
  font-family: 'New Rocker', cursive;
  margin: 15px;
  animation: topSlide 4s ease-in-out;
}

.home img {
  height: 200px;
  opacity: .75;
  animation: fadeIn 5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: .75;
  }
}

@keyframes topSlide {
  from {
    transform: scale(0.15);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.networth-section {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  font-family: "Roboto", sans-serif;
  height: 15%;
  color: white;
  border-top: solid rgba(255, 255, 255, 0.5) 1px;
  border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.networth-section .account-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.networth-section .account-name {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

.networth-section .account-total {
  color: white;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  padding: 15px 0;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  transition: all .5s ease;
}

.header img {
  height: 100px;
}

.header nav {
  display: flex;
  justify-content: space-evenly;
  width: 33%;
}

.header .header-login {
  color: #ffa959;
  letter-spacing: 3px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .25s ease;
}

.header .header-login:hover {
  color: black;
  background: #ffa959;
}

.header a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  transition: color .5s ease;
}

.header a:hover {
  color: #ffa959;
}

.main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  max-height: 40%;
  width: 95%;
  margin: 0 auto;
  padding-bottom: 30px;
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  overflow: scroll;
}

.main h5 {
  display: grid;
  align-items: center;
  justify-content: left;
  padding: 0 15px;
  border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
}

.main h5.header {
  color: rgba(255, 255, 255, 0.5);
  border-top: solid rgba(255, 255, 255, 0.5) 1px;
  padding: 20px 15px;
}

.totals {
  display: flex;
  justify-content: space-evenly;
}

.totals .total-holdings {
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  padding-left: 45px;
}

.new-icon {
  margin: 15px 0;
  cursor: pointer;
}

.new-icon:hover {
  animation: spin 1s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.edit-form-close {
  color: rgba(175, 18, 7, 0.65);
  font-weight: 700;
  cursor: pointer;
  transition: color .25s ease-in-out;
}

.edit-form-close:hover {
  color: #af1207;
}

.edit-form {
  margin: 0;
  width: 115px;
  display: flex;
  justify-content: space-between;
}

.edit-form .edit-input {
  font-family: "Roboto", sans-serif;
  color: white;
  background: #1c1b1b;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  border-radius: 5px;
  border: solid 1px white;
  padding: 0 10px;
  box-sizing: border-box;
}

.edit-form .edit-sbmt-btn {
  display: none;
}

.col-2, .col-3 {
  cursor: pointer;
}

.edit-form .networth-form {
  height: 80%;
}

.select {
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.select:hover {
  color: #af1207;
}

.delete-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
}

.delete-container .delete-asset {
  color: rgba(175, 18, 7, 0.65);
  font-weight: 700;
  cursor: pointer;
  transition: color .25s ease-in-out;
}

.delete-container .delete-asset:hover {
  color: #af1207;
}

.delete-container .escape-delete {
  color: rgba(46, 175, 7, 0.65);
  font-weight: 700;
  cursor: pointer;
  transition: color .25s ease-in-out;
}

.delete-container .escape-delete:hover {
  color: #2eaf07;
}

.post-form {
  display: flex;
  position: absolute;
}

.post-form input {
  margin: 0 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: #1c1b1b;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 500;
  width: 200px;
  border-radius: 5px;
  border: solid 1px white;
  padding: 10px;
  box-sizing: border-box;
}

.login-form {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login-form input {
  background: #1c1b1b;
  height: 33.33333%;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2.5px;
  color: white;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  border-radius: 3px;
  margin: 5px 0;
}

.login-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Roboto", sans-serif;
}

.create-account-form {
  height: 400px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.create-account-form input {
  background: #1c1b1b;
  height: 25%;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2.5px;
  color: white;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  border-radius: 3px;
  margin: 5px 0;
}

.create-account-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.account-msg {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2.5px;
  transition: color .5s ease;
  cursor: pointer;
}

.account-msg:hover {
  color: #ffa959;
}

.auth-submit-btn {
  transition: all .25s ease-in-out;
}

.auth-submit-btn:hover {
  background: #ffa959;
  color: #1c1b1b;
  font-weight: 700;
}

body, html {
  overscroll-behavior: none;
}

.body {
  height: 100vh;
  background: #1c1b1b;
}
/*# sourceMappingURL=main.css.map */