
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import "variables", "iteration";
@import "networth", "header", "portfolio", "networthForm", "assets", "longEditForm";

body, html{
  overscroll-behavior: none;
}

.body{
  height: 100vh;
  background: $dk-color;
}
